#TableOfContents ul li a {
    text-decoration-line: none;
  }

p a,
li a,
td a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    text-decoration-thickness: 1%;
  }