<header id="main-header">
  <div id="site-title">
    <img src="/images/favicon-32.png" alt="Lambda">
    <a href="/">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
  <a href="/" class="page-link{% if current == null %} active{% endif %}">Blog</a>
  {% for page in site.pages %}
    {% if page.title and page.permalink != "/404.html" %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  
  <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" 
    target="_blank" 
	class="page-link">
	<img src="/images/linkedin-32.png" alt="">
	LinkedIn
  </a>
  <a href="https://github.com/{{ site.social.github }}" 
    target="_blank" 
	class="page-link">
	<img src="/images/github-32.png" alt="">
	GitHub
  </a>  
  <a href="https://github.com/{{ site.social.github }}" 
    target="_blank" 
	class="page-link">
	<img src="/images/github-32.png" alt="">
	GitHub
  </a>    
  <a href="http://stackoverflow.com/users/{{ site.social.stackoverflow }}"
    target="_blank"
    class="page-link github-link">
    <img src="/images/stackoverflow-32.png" alt="">
    Source
  </a>
  <a href="/feed.xml" target="_blank" class="page-link">RSS</a>
  <a href="https://github.com/jaehyeon-kim/jaehyeon-kim.github.io"
    target="_blank"
    class="page-link github-link">
    <img src="/images/github-repo.png" alt="">
    Source
  </a>
  </div>
</header>
